.vscode/
Project C/Report.docx
Project C/Report1.docx
Project C/doc/
Project C/Doxyfile
Project C/icon.png
Project Python/Report_Py.docx
Project Python/Report_Py.pdf
Project Python/Snapch'UTT.pptx
Project Python/temps.txt
Project C.rar
example.txt
test.txt
test2.txt
.exe/